<div flex ng-controller="EntradaCtrl">
    <md-toolbar class="md-small-tb">
        <div class="md-toolbar-tools">
            <h3 flex >Entrada de Dados</h3>
        </div>
    </md-toolbar>
    <md-content flex class="toolbar-content">
        <div flex style="margin: 5px" layout="row">
            <div flex layout="row">
                <md-input-container flex>
                    <label>X</label>
                    <input ng-model="title">
                </md-input-container>
                <md-input-container flex>
                    <label>Y</label>
                    <input ng-model="title">
                </md-input-container>
            </div>

        </div>
    </md-content>
</div>