<div flex ng-controller="EntradaCtrl">
    <md-toolbar class="md-small-tb">
        <div class="md-toolbar-tools">
            <h3 flex >Entrada de Dados</h3>
        </div>
    </md-toolbar>
    <md-content flex class="toolbar-content">
        <div flex style="margin: 5px" layout="column">

            <div layout="row" ng-hide="cb1">
                <md-input-container flex=50>
                    <label>X</label>
                    <input ng-model="x">
                </md-input-container>
                <md-input-container flex=50>
                    <label>Y</label>
                    <input ng-model="y">
                </md-input-container>
            </div>

            <div layout="row" ng-show="cb1">
                <md-input-container flex=50>
                    <label>Raio</label>
                    <input ng-model="raio">
                </md-input-container>
                <md-input-container flex=50>
                    <label>Ângulo</label>
                    <input ng-model="angulo">
                </md-input-container>
            </div>

            <div layout="row">
                <md-input-container flex=50>
                    <label>Velocidade</label>
                    <input ng-model="velocidade">
                </md-input-container>
                <md-input-container flex=50>
                    <label>Direção</label>
                    <input ng-model="direcao">
                </md-input-container>
            </div>

            <div flex layout="row" layout-align="space-between" style="align-items: center;">
                <md-switch ng-model="cb1" aria-label="Switch 1">
                    Cordenadas Polar
                </md-switch>
                <md-button class="md-raised md-primary" style="width: 150px; height: 20px;" ng-click="addAv">Adicionar Avião</md-button>
            </div>
        </div>
    </md-content>
</div>